@charset "UTF-8";

$arr : "0";
$arr_1 : 0;


.main{

  checked:$arr == $arr_1;

}

.calculator{

  $a : 2px;
  $b : 2;
  $c : 3rem;
  $d : 'a';
  $e : 'd';
  $f : null;
  $h : null;
  $g : 0;
  $color1 : #112233;
  $color2 : rgb(17,34,51);
  $color3 : white;
  $color4 : rgb(255,255,255);
  $color5 : #fff;
  $false : false;
  $true : true;
  max-height: $a + $d;
  max-width: $a * $b;
  data-name: $a + $d ;
  checked: $a == $b;
  checked: $a == $f;
  checked: $f == $h;
  checked: $color1 == $color2;
  checked:  $color3 == $color4;
  checked: $color3 == $color5;
  checked : not($h);
  checked : not(false);

  name : $false / $true;


  //data-ment: $e * $d;

  //scroll : $f+ $f;

  //background-color: $color1 * $e;


}


